* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
   background-color: red;
   color: white;
}

#left-side{
    width: 25%;
}

#right-side{
    width: 70%;
}