* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
}

.leftSide{
    width: 28%;
    background-color: lightslategrey;
}

.rightSide{
    width: 70%;
}